body{ 
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1500ms;
}
#navbar{ 
    width: 100%;
    padding: 30px ;
    opacity: 1;
    position: static;
    z-index: 3;
}

.mynav {  
    color:rgb(184, 184, 184) ; 
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;

}
@media only screen and (max-width : 400px ){ 
    .mynav{ 
        font-size: large;
        
         
    }  
    #about-div{
        margin-top:200px ;
    }
    #bgvideo{
        height: 100%;
    }
}
@media only screen and (max-width : 370px ){ 
    .mynav{ 
        font-size: 20px;
        padding:5px ; 
        
         
    }  
   
}
@media only screen and (max-width : 310px ){ 
    .mynav{ 
        display: block; 
        padding: 10px ;
        
         
    }  
   
}
#intro{ 
    color:whitesmoke ; 
    margin-left: 50px ;
    margin-top: 50px ;
}
#edu,#skills,#projects{
    z-index: 5;
    /* margin-top: 300px ; */
    margin-left: 10px ;
    color:white ;
    background-color: black;
    /* opacity: 0.8; */
    padding: 20px;
    border-radius: 10px;

}
#edu-img{ 

    opacity: 0.8;
}
.info{ 
    margin-left: 30px ;
   font-size: 30px;
    
}
#skills{ 
    font-size: 20px;
    margin-top: 100px ;
}
#txt{
    font-weight: bold;
}
#about-div { 
    margin-top: 300px ;
}
.resume{ 
    margin-top: 10px ; 
    color:white;
    background-color: rgb(69, 167, 232);
    border-style: none;
    border-radius: 10px ;
    padding: 5px ;

}
#use{ 
    padding: 10px;
    margin-left: 30px ;
    color:white ; 
} 
#atwo { 
    font-size: 20px ;
}
#ico{ 
    height: 40px ; 
    width: 40px ;
    display: inline-block;
}
#nvi{ 
    color:rgb(255, 206, 206) ; 
    font-weight: bold;
}
#cpp { 
    color:rgb(69, 167, 232) ; 
}
#html{ 
    color:darkorange ;
}
#css{ 
    color:red ; 
}
#js { 
    color:deeppink; 
}
#school { 
    color:rgb(16, 223, 192) ; 
}
#uni { 
    color: deepskyblue ; 
}
.card{ 
   
    background-color:rgb(16, 98, 146) ;
}
#ptwo{ 
    height :119px ; 
}
.logos{ 
    display: inline-block;
    padding: 10px ; 
  


}
#langs{
    display: inline-block;
    position: absolute;
 }
#cp{ 
    height: 68px ;
}
#bgbut{
    font-size: small;
    padding: 5px; 
    font-family: sans-serif;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    float:right; 
    border-width: 0;
}
